body
{
	margin: 0px;
	padding: 0px;
}

.topnav {
  overflow: hidden;
  background-color: black;
  color:white;

}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 14px;
  text-decoration: none;
  font-size: 25px;
  font-family:calibri;
  
  transition: all 0.5s ease-in-out;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}

.bg4
{
	background-image:url(../image/mtrl1.jpg);
	background-position:center;
	background-size:cover;
	height:100vh;
}


h2
{
	margin:0px;
	font-size:60px;
	color: rgb(0,0,0,0.97);
	font-family:calibri;
	font-weight:bold;
	text-align:center;
	padding:10% 0% 0% 0%;
}


.center
{
	 position: absolute;
	 top:50%;left:50%;
	 transform: translate(-50%,-50%);

}
ul 
{
	margin: 0px;
	padding: 0px;
	display:flex;
}

ul li
{
	list-style: none;
	border:3px solid transparent;
	font-weight:bold;
	margin:30px; 
	border-radious:15px;
	font-family:Calibri;
	
}

ul li a
{
	text-decoration:none;
	background-color:rgb(31, 29, 29,1));
	font-size: 20px;
	color: black;
	padding:70px;
	display:block;
	text-align:center;
	border-radius:15px;
	transition: all 0.4s ease-in-out;
}

ul li:nth-child(1) a
{
	color: black;
	border: 2px solid rgb(0, 0, 0,1);
}

ul li:nth-child(2) a
{
	color: black;
	border: 2px solid rgb(0, 0, 0,1);
}

ul li:nth-child(3) a
{
	color:black;
	border: 2px solid rgb(0, 0, 0,1);
}


ul li:nth-child(1):hover a
{
	box-shadow:0px 0px 10px rgb(255,255,255,0.5),0px 0px 10px rgb(0, 0, 0,0.98);
	background-color: rgb(255,255,255,0.5);
}

ul li:nth-child(2):hover a
{
	box-shadow:0px 0px 10px rgb(255,255,255,0.5),0px 0px 10px rgb(0, 0, 0,0.98);
	background-color: rgb(255,255,255,0.5);
}

ul li:nth-child(3):hover a
{
	box-shadow:0px 0px 10px rgb(255,255,255,0.5),0px 0px 10px rgb(0, 0, 0,0.98);
	background-color: rgb(255,255,255,0.5);
}







