*{
	padding: 0;
	margin: 0;
}


.topnav {
  overflow: hidden;
  background-color: black;
  color:white;

}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 14px;
  text-decoration: none;
  font-size: 20px;
  
  transition: all 0.5s ease-in-out;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}



.bg1
{
	background-image:url(../image/toa-heftiba-MGUC3WkLkWM-unsplash.jpg);
	background-position:center;
	background-size:cover;
	height:100vh;
}

.bg2
{
	background-image:url(../image/r1.jpg);
	background-position:center;
	background-size:cover;
	height:100vh;
}

.nav ul li a:hover{
	color:yellow;
	background:red;
}


body{
    margin: 0;
    padding: 0;
    background: url(image.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.login-box{
    width: 320px;
    height: 550px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
	transition: all 0.5s ease-in-out;
}

.login-box img
{
	width:100px;
	height:100px;
	margin-top:-30px;
	transform: translate(83%,-30%);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
	
}
.login-box input{
    width: 100%;
    margin-bottom: 15px;
}
.login-box input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
	
}
.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.login-box a:hover
{
    color: #39dc79;
}



