body
{
	margin: 0px;
	padding: 0px;
	background: #ecf1f4;
	font-family: calibri;
}

.bg4
{
	background-image:url(../image/a3.jpg);
	background-position:center;
	background-size:cover;
	height:100vh;
}

.bg5
{
	background-image:url(../image/r1.jpg);
	background-position:center;
	background-size:cover;
	height:100vh;
}

h1
{
	margin:0px;
	font-size:23px;
	color: rgb(255, 255, 255,1);;
	font-family:Calibri;
	font-weight:bold;
	text-align:center;
	padding:2% 0% 0% 0%;
}
.center
{
	 position: absolute;
	 top:50%;left:50%;
	 transform: translate(-50%,-50%);

}
ul 
{
	width:300px; 
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul li
{	
	float: left;
	width: 300px;height: 40px;
	background-color:  rgb(38, 36, 36,0.94);
	color:rgb(64, 58, 58,0.);
	opacity: .9;
	line-height: 40px;
	text-align: center;
	font-size: 19px;

	
}
ul li a
{
	text-decoration:none;
	color: white;
	display: block;
}

ul li a:hover
{
	background: green;
}

ul li ul li
{
	display: none;
}
ul li:hover ul li
{
	display: block;
}

ul li ul li ul li
{
	display: none;
}
ul li ul li:hover ul li
{
	display: block;
}

*
{
	margin: 0; padding: 0;
}
       
.form-wrap
{ 
	width:350px; 
	background: rgb(84, 78, 72,0.97);
	 padding: 40px 20px;
	  box-sizing: border-box;
	   position: fixed; 
	   left: 50%; 
	   top: 50%; 
	   transform: translate(-50%, -50%);
}
        
input
{
	width: 300px; background: none;
	 border: 1px solid #fff; 
	 border-radius: 10px;
	  padding: 6px 25px;
	   box-sizing: border-box; 
	   margin-bottom: 20px; 
	   font-size: 16px;
	    color: rgb(255, 255, 255,0.96);


}
        
input[type="submit"]
{ 
	background:rgb(255, 255, 255,0.96);
	 border: 5px solid white; 
	 cursor: pointer;
	 color: #3e3d3d;
}
input[type="submit"]:hover
{ 
	background: #a4b15c;
	 transition: .6s;
}
        
::placeholder{color: rgb(255, 255, 255,0.96);}
    




